.dashboard-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}